*{
	margin:0;
	padding: 0;
	font-family: century gothic;
}
.hide{
	display: none;
}
.roadLineLeft1{
	position: absolute;
	height: 100px;
	width: 10px;
	background: white;
	margin-left: 167px;
}
.roadLineLeft2{
	position: absolute;
	height: 100px;
	width: 10px;
	background: white;
	margin-left: 334px;
}
.roadLineRight1{
	position: absolute;
	height: 100px;
	width: 10px;
	background: white;
	margin-left: 167px;
}
.roadLineRight2{
	position: absolute;
	height: 100px;
	width: 10px;
	background: white;
	margin-left: 334px;
}
.gameAreaLeft{
	width: 500px;
	height: 100vh;
	background-color: #424242;
	position: absolute;
	left: 16%;
}
.gameAreaRight{
	width: 500px;
	height: 100vh;
	background-color: #424242;
	position: absolute;
	left: 52%;
}
