* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century gothic;
}
body {
  overflow: hidden;
}
.hide {
  display: none;
}
.roadLineLeft1 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  left: 167px;
}
.roadLineLeft2 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  right: 167px;
}
.roadLineRight1 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  left: 167px;
}
.roadLineRight2 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  right: 167px;
}
.startLineLeft {
  width: 100%;
  height: 20px;
  background: url(./img/line.png);
  background-size: 100%;
  position: absolute;
  bottom: 0px;
}
.finishLineLeft {
  width: 100%;
  height: 20px;
  background: url(./img/line.png);
  background-size: 100%;
  position: absolute;
  top: -500px; /*Change this value accordingly*/
}
.startLineRight {
  width: 100%;
  height: 20px;
  background: url(./img/line.png);
  background-size: 100%;
  position: absolute;
  bottom: 0px;
}
.finishLineRight {
  width: 100%;
  height: 20px;
  background: url(./img/line.png);
  background-size: 100%;
  position: absolute;
  top: -500px; /*Change this value accordingly*/
}
.enemyLeft {
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: rgb(199, 55, 55);
}
.enemyRight {
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: rgb(199, 55, 55);
}
.carPlayer1 {
  width: 50px;
  height: 70px;
  background-color: rgb(247, 182, 63);
  position: absolute;
  left: 225px;
  bottom: 0px;
}
.carPlayer2 {
  width: 50px;
  height: 70px;
  background-color: rgb(247, 182, 63);
  position: absolute;
  left: 225px;
  bottom: 0px;
}
.gameAreaLeft {
  width: 500px;
  height: 100vh;
  background-color: #424242;
  position: absolute;
  left: 13%;
}
.gameAreaRight {
  width: 500px;
  height: 100vh;
  background-color: #424242;
  position: absolute;
  right: 13%;
}
