* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century gothic;
}
body {
  overflow: hidden;
}
.hide {
  display: none;
}
.roadLineLeft1 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  left: 167px;
}
.roadLineLeft2 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  right: 167px;
}
.roadLineRight1 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  left: 167px;
}
.roadLineRight2 {
  height: 100px;
  width: 10px;
  background: white;
  position: absolute;
  right: 167px;
}
.carPlayer1 {
  width: 50px;
  height: 70px;
  background-color: orange;
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.carPlayer2 {
  width: 50px;
  height: 70px;
  background-color: orange;
  position: absolute;
  left: 50px;
  bottom: 50px;
}
.gameAreaLeft {
  width: 500px;
  height: 100vh;
  background-color: #424242;
  position: absolute;
  left: 13%;
}
.gameAreaRight {
  width: 500px;
  height: 100vh;
  background-color: #424242;
  position: absolute;
  right: 13%;
}
.enemyLeft{
	position: absolute;
	height: 80px;
	width: 50px;
	background-color: blue;
}
.enemyRight{
	position: absolute;
	height: 80px;
	width: 50px;
	background-color: blue;
}
